# Node
node_modules/
.pnpm-store/

# Builds
.dist/
dist/
.build/
.next/
out/
.astro/

# Env
.env
.env.*

# OS / IDE
.DS_Store
.vscode/settings.json

# Temp
/tmp/
.devserver.err.log
.devserver.log
.devserver.out.log
